body {
  background-color: rgb(38, 95, 77);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:visited {
  color: black;
}
.red {
  background-color: red;
}

button {
  background: black;
  color: white;
  text-align: center;
}

form {
  margin: 10px;
  text-align: center;
}
